
/* font family Montserrat */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=VT323&display=swap');

@import url('https://fonts.cdnfonts.com/css/horizon');

/* ============= 01. Reset section ============= */

html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

button:focus {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

select::-ms-expand {
    display: none;
}

label {
    font-weight: normal;
}

iframe {
    width: 100%;
}

/* ===== 02. Global Style ===== */
body {
    overflow-x: hidden;
}

h1 {
        font-size: 200px;
        font-weight: 800;
        padding-bottom: 50px;
        line-height: 85px;
        font-family: "Horizon", sans-serif;
        color: #000000; 
        -webkit-background-clip: text;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    }

h2 {
    font-size: 35px;
    font-weight: 800;
    line-height: 51px;
    font-family: "Montserrat", sans-serif;
}

h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 150px;
    font-family: "Montserrat", sans-serif;
}

h4 {
    font-size: 22px;
    font-weight: 800;
    line-height: 28px;
    font-family: "Montserrat", sans-serif;
}

h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    font-family: "Horizon", sans-serif;
}

h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-family: "Montserrat", sans-serif;
}


p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    font-family: "Montserrat", sans-serif;
}

button {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding: 16px 38px 16px 38px;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
}

a {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    transition: all 0.3s ease;
    color: #c9c3c3;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}



/* <!-- ====== 1.1. Header section ====== --> */

.header-index {
    background-image: url("../img/bg/bg.jpg");
    background-position: top center;
    background-size: cover;
}

header {
    padding: 20px 0;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 15px;
    color: #d3c9c1;
}

.container-nav {
    gap: 70px;
}

.navbar-logo {
    margin-right: 25px;
}

.navbar-nav {
    gap: 50px;
}

.nav-link {
    font-weight: 400;
    color: #d3c9c1;
}

nav li a.active,
.nav-link:is(:hover, :focus-visible) {
    color: #c308f1;
    font-weight: 700;
}

.dropdown {
    position: relative;
}

.dropdown-toggle::after {
    content: '+';
    vertical-align: middle;
    margin-left: 5px;
}

.dropdown-menu {
    position: absolute;
    padding: 30px;
    display: none;
    z-index: 9;
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
    width: 220px;
    padding: 15px 0px 15px 0px;
    border-radius: 10px;
    background-color: #3d0f41;
    margin-left: -52px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: inherit;
}

.dropdown-item {
    display: block;
    width: 100%;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: white;
    background-color: inherit;
}

.dropdown-menu li {
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #ffffff;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown-menu .dropdown-item::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    transition: all 0.3s ease-in-out;
    background: #b520a3;
    z-index: -1;
    top: 0;
    left: 0;
}

.dropdown-menu .dropdown-item:hover::before {
    width: 100%;
    background: #b520a3;
}

.nav-right {
    gap: 45px;
}

.nav-right p:first-child {
    color: #d3c9c1;
}

.nav-right span {
    color: #d10ec1;
}

.nav-right .fa-magnifying-glass {
    color: #ffffff;
    font-size: 22px;
    cursor: pointer;
}

.nav-right .fa-magnifying-glass:active {
    color: #999;
    transform: scale(0.8);
}

.nav-right .fa-bars {
    color: #ffffff;
    font-size: 22px;
    /* background-color: #150803; */
    padding: 7px 8px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-right .fa-bars:active {
    transform: scale(0.9);
}

/* NOTIFICATION BELL */
.nav-right .fa-bell {
    color: #ffffff;
    font-size: 22px;
    /* background-color: #150803; */
    padding: 7px 8px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-right .fa-bell:active {
    transform: scale(0.9);
}

.nav-right .notification {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    cursor: pointer;

    
    &::after{
        min-width:20px;
        height: 20px;
        border-radius: 50%;
        content: attr(data-count);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
        position: absolute;
        top: -5px;
        right: -4px;
        transition: 0.3s;
        opacity: 0;
        transform:scale(.5)

    }

    &.count::after{
        opacity: 1;
        transform:scale(1)
    }
}

@keyframes bell {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(-15deg);
    }
    75%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}


/* END NOTIFICATION BELL */

.navbar-toggler {
    border: 1px solid #7436bb;
    background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    display: none;
}

.navbar-toggler:hover {
    background: inherit;
}

.navbar-toggler span {
    color: #ffffff;
    font-size: 22px;
}

@media screen and (max-width: 1000px) {
    .navbar-toggler {
        display: block !important;
    }

    .navbar-nav,
    .nav-right {
        display: none !important;
    }

    .container-nav {
        width: 100%;
        justify-content: space-between;
    }
}

/* Sidebar */

aside {
    background-color: #150120;
    z-index: 10;
}

.sidepanel {
    width: 320px;
    position: fixed;
    height: 100vh;
    top: 0;
    left: -320px;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 40px 20px 20px 20px;
}

.sidepanel::-webkit-scrollbar {
    width: 3px;
}

.sidepanel::-webkit-scrollbar-thumb {
    background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
    border-radius: 10px;
}

.sidebar {
    justify-content: space-between;
    padding-bottom: 20px;
}

.sidebar img {
    width: 100px;
}

.sidebar button {
    width: 44px;
    height: 44px;
    background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
    padding: 10px 12px 10px 12px;
    margin-bottom: -15px;
    border-radius: 0.25em;
    border: 1.5px solid #b520a3;
    color: #ffffff;
    cursor: pointer;
}

.btn_hover1 {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    border: 1.5px solid #d12bec;
    color: #ffffff;
    z-index: 1;
    letter-spacing: 0.8px;
    background: linear-gradient(180deg, #bb27ff 0%, #3a0541 100%);
    cursor: pointer;
}

.btn_hover1::before {
    border-radius: 50px;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    color: #ffff;
    transition: all 0.3s ease-in;
    background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
    z-index: -1;
    top: 0;
    right: 0;
}

.btn_hover1:hover {
    color: #ffffff;

}

.btn_hover1:hover::before {
    width: 0;
    background: linear-gradient(42deg, #a95fff 0.01%, #b520a3 100%);
}

.sidebar button:hover {
    background: inherit;
}

.sidebar a {
    padding: 10px 0;
}

aside ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

aside ul li {
    margin: 15px 0;
}

aside li a {
    color: #d3c9c1;
    transition: 500ms;
    padding: 10px 0;
}

aside ul li a.active {
    color: #d10ec1;
}

aside li a:hover {
    color: #d10ec1;
    transition: 500ms;
}

aside .pages {
    font-weight: 500;
    color: #7500fc;
    margin: 11px 0 7px 0;
}

.collapse_btn {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.collapse_btn i {
    border: 1px solid #ffffff;
    padding: 7px 8px;
    border-radius: 40px;
}

.collapse_btn i:hover {
    border: 1px solid #d10ec1;
}

.plus_collapse {
    margin: -52px 0px 0 0;
    height: 45px;
}

#pages {
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}

.show {
    height: 500px !important;
    transition: height 0.35s ease;
}

/* searchbar */

#search-bar {
    background-color: #000000a6;
    width: 100%;
    height: 0;
    border-radius: 0px;
    bottom: 0;
    z-index: 2;
    transition: all 0.5s ease;
    position: fixed;
    display: flex;
}

#search-bar div:first-child {
    position: absolute;
    width: 44px;
    height: 44px;
    right: 0;
    background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25em;
    border: 1.5px solid #b520a3;
    color: #ffffff;
    margin: 30px;
    cursor: pointer;
}

#search-bar div:first-child:hover {
    background: inherit;
}

#search-bar form {
    border-radius: 50px;
    border: 1px solid #3b134e;
    background: #381a46;
    width: 50%;
    margin: auto;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

#search-bar form input {
    border-radius: 50px;
    background: #381a46;
    border: none;
    outline: none;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 18px;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

#search-bar form button {
    transition: all 0.3s ease;
    text-transform: uppercase;
}

/* header right sidebar */

.header-right-sidebar {
    width: 355px;
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    right: -355px;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 60px 25px 20px 30px;
    z-index: 2;
    background: #d3c9c1;
}

.header-right-sidebar img {
    width: 100px;
}

.header-right-sidebar button {
    width: 44px;
    height: 44px;
    background: linear-gradient(42deg, #300f55 0.01%, #470540 100%);
    padding: 7px 12px 10px 12px;
    border-radius: 0.25em;
    border: 1.5px solid #000000;
    color: #ffffff;
    cursor: pointer;
}

.header-right-sidebar button:hover {
    background: linear-gradient(180deg, #300f55 0.01%, #470540 100%);
}

.header-right-sidebar p {
    color: #231f20;
    margin: 25px 0;
}

.header-right-sidebar h4 {
    margin: 25px 0;
}

.header-right-sidebar hr {
    margin: 28px 0 0 0;
    border: 1px solid;
    opacity: 1;
    color: #000000;
}

.header-right-sidebar .btn_hover1 {
    padding: 15px 40px;
    outline: none;
    font-size: 16px;
}

.header-right-sidebar ul {
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.header-right-sidebar ul li {
    display: flex;
    gap: 20px;
}

.header-right-sidebar ul a {
    padding: 0 !important;
    color: #231f20;
}

.header-right-sidebar i {
    font-size: 20px;
    background: linear-gradient(0deg, #c448f5 0.5%, #360366 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-right-sidebar i:hover {
    background: linear-gradient(0deg, #c448f5 0.5%, #360366 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-right-sidebar span {
    gap: 20px;
    margin-top: 30px;
}

/* ====== End of 1.1. Header section ====== */

/* ====== 1.2. hero section ====== */

.hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 172px 0 279px 0;
}

.hero .container {
    position: relative;
}

.hero h1 {
    color: #ffffff;
    letter-spacing: 3.75px;
    text-transform: uppercase;
}

.hero-social-icon {
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column !important;
    justify-content: flex-start !important;
}

.hero-social-icon a {
    padding: 16px 38px 16px 38px !important;
}

.hero-social-icon i {
    font-size: 26px;
    background: linear-gradient(0deg, #f54a48 0.5%, #fa982f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-social-icon i:hover {
    background: linear-gradient(0deg, #b514ca 0.5%, #47084d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-social-icon hr {
    display: block;
    margin-top: 68px;
    opacity: 1;
    color: #ffffff;
    width: 110px;
    rotate: 90deg;
}

.center-data {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero h3 {
    color: #ffffff;
    text-transform: uppercase;
}

.center-btn {
    gap: 2rem;
    margin-top: 2rem;
}

@media (max-width: 800px) {
    .hero h1 {
        font-size: 10px;
        margin-bottom: -10px;
    
    }
}

@media (max-width: 1400px) {
    .hero h1 {
        font-size: 150px;
        margin-bottom: -10px;
    
    }
}
/* button hover with background */

.btn_hover2 {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    border: 1.5px solid #d12bec;
    color: #ffffff;
    z-index: 1;
    letter-spacing: 0.8px;
}

.btn_hover2::before {
    content: "";
    border-radius: 50px;
    position: absolute;
    width: 0;
    height: 100%;
    transition: all 0.3s ease-in;
    background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
    z-index: -1;
    top: 0;
    left: 0;
}

.btn_hover2:hover::before {
    width: 100%;
    border-radius: 50px;
    background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
}

.center-btn a {
    padding: 16px 38px 16px 38px !important;
}
/* Responsive Styling */
@media (max-width: 768px) {
    .header-card {
        width: 50%;
        padding: 0 10px; /* Adjust padding as needed */
    }

    .header-card h4 {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .header-card {
        width: 100%;
        padding: 0 10px; /* Adjust padding as needed */
    }
}

/* button hover end */


/* ====== End of 1.2. hero section ====== */


/* ====== 1.3. card section ====== */

.feature {
    background-color: #080214;
    margin-top: -10px;
    position: relative;
}

.feature .flex {
    --bs-gutter-x: 4rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.10 * var(--bs-gutter-x));
}

.header-card {
    margin-top: -125px;
    display: flex;
    flex: 0 0 auto;
    width: 25%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-bottom: 40px;
}

.header-card div {
    border-radius: 50px;
    background: linear-gradient(0deg, #261147 0%, #140921 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(11.7px);
    -webkit-backdrop-filter: blur(20px);
    color: #ffffff;
    padding: 40px 40px;
    transition: all 0.4s ease;
}

.header-card div:hover {
    transform: scale(1.05);
    transition: all 0.4s ease;
}


.header-card img {
    width: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-items: center;
}

.header-card h4 {
    width: 190px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    margin: 20px 0 12px 0;
}

@media (max-width: 1000px) {

/* Apply different padding to each card */
.header-card:nth-child(1) {
    padding: 0px 50px;
    margin-bottom: 230px;
}

.header-card:nth-child(2) {
    padding: 0px 50px; /* Adjust as needed */
    margin-bottom: 100px;
}

.header-card:nth-child(3) {
    padding: 0px 50px; /* Adjust as needed */
    margin-bottom: 100px;
}

.header-card:nth-child(4) {
    padding: 0px 50px; /* Adjust as needed */
    margin-bottom: 100px;
}

    .header-card {
        width: 100%;
        margin-bottom: 100px; /* Add space between cards */
        padding: 0px 50px;
        margin-bottom: 230px;
    }

    .header-card h4 {
        width: 100%;
        margin-bottom: 20px;
    }

    .header-card .feature-img1 {
        width: 60px;
    }
    .header-card img{
    display: block;
    margin: 0 auto; /* Center horizontally */
    }
}


/* ====== End of 1.3. card section ====== */

/* ====== 1.4. logo section ====== */

.logo {
    background-color: #150725;
    padding: 150px 0;
    margin-top: -10px;
}

.logo-slider {
    margin-top: -30px;
}

.logo h3 {
    letter-spacing: 1.25px;
    color: #ffffff;
    text-transform: uppercase;
}

.logoimg {
    width: 200px;
    margin: 0 auto 10px;
}

.logo .hr1 {
    opacity: 1;
    height: 2px;
    rotate: 90deg;
    width: 60px;
    margin: 0 auto 10px auto;
    background: rgba(255, 255, 255, 0.75);
}

.logo .hr2 {
    opacity: 1;
    height: 2px;
    rotate: 90deg;
    width: 60px;
    margin: 70px auto 0 auto;
    background: rgba(255, 255, 255, 0.75);
}
/* ====== End of 1.4. logoipsum section ====== */

/* ====== 1.5. About us section ====== */

.about {
    background-image: url("../img/bg/ourclients.png");
    padding: 100px 0;
}

.about-data {
    display: flex;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.about hr {
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
    border: 1px solid;
}

.w-50 {
    flex: 0 0 auto;
    width: 50%;
}

.about-title {
    gap: 1rem;
}

.about-data h2 {
    margin: 20px 0;
    color: #ffffff;
}

.about h5 {
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

.about p {
    color: #ffffff;
}

.about i {
    border: 2px solid #b520a3;
    border-radius: 50%;
    padding: 3px;
    font-size: 20px;
    background: linear-gradient(66.75deg, #ffd001 0.87%, #63440a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-data a {
    padding: 16px 38px 16px 38px !important;
}

.mt-15 {
    margin-top: 1.5rem !important;
}

.mt-30 {
    margin-top: 3rem !important;
}

.about-imgs {
    position: relative;
    background-image: url("../img/bg/about-bg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.about-imgs figure {
    width: fit-content;
    clip-path: circle(45% at 50% 50%);
    transition: all 0.8s ease;
    box-shadow: 0 0px 20px rgba(162, 20, 124, 0.3);
}

.about-imgs figure:hover {
    transform: scale(1.05);
    transition: all 0.8s ease;
    animation: biani 4.5s linear infinite alternate;
    box-shadow: 0 0px 20px rgba(162, 20, 124, 0.3);
}

.about-imgs img {
    width: 85%;
    display: block;
    margin: auto;
    /* clip-path: circle(48% at 50% 50%); */
    animation: curve 4.5s linear infinite alternate;
    box-shadow: 0 0px 20px rgba(162, 20, 124, 0.3);

}



@keyframes curve {
    0% {
        border-radius: 48% 52% 57% 43% / 34% 44% 56% 66%;
    }
    25% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }
    50% {
        border-radius: 60% 40% 40% 60% / 50% 50% 50% 50%;
    }
    75% {
        border-radius: 40% 60% 60% 40% / 50% 50% 50% 50%;
    }
    100% {
        border-radius: 48% 52% 57% 43% / 34% 44% 56% 66%; 
    }
}

.ab-count {
    flex-direction: column;
    text-align: center;
    background: linear-gradient(180deg, #350555 0%, #420530 100%);
    color: #ffffff;
    position: absolute;
    bottom: -18px;
    left: 118px;
    z-index: 11;
    border-radius: 50%;
    width: 175px;
    height: 175px;

}

.ab-count h2 {
    margin: 0;
}

.about-hr {
    color: #ffffff;
    position: absolute;
    right: -50px;
    bottom: 25px;
    rotate: -90deg;
}

.about-hr hr {
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
    border: 1px solid;
}

.ab-count p {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}

.about-hr h6 {
    letter-spacing: 3.72px;
    text-transform: uppercase;
}


/* Responsive section */
@media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens here */
    .about-data {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Center items horizontally */
    }

    .about-imgs figure {
        width: 100%; /* Ensure the image fills its container */
    }

    .ab-count {
        left: 100%; /* Center horizontally */
        transform: translateX(-50%); /* Center horizontally */
        bottom: 0; /* Adjust position from bottom */
        width: 125px; /* Adjust size */
        height: 125px; /* Adjust size */
        padding: 30px; /* Increase padding for responsiveness */
    }

    .ab-count h2 {
        margin: 40;
        font-size: 1.5rem; /* Adjust font size */
    }

    .ab-count p {
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.8rem; /* Adjust font size */
    }

    .about-hr {
        right: auto; /* Reset position */
        left: 120%; /* Center horizontally */
        transform: translateX(-50%); /* Center horizontally */
        bottom: 10px; /* Adjust position from bottom */
    }

    .about-hr hr {
        width: 40px; /* Adjust width */
    }
    .btn_hover1,
    .btn_hover2 {
        /* Add styles for the buttons here */
        padding: 12px 24px; /* Adjust padding */
        font-size: 12px; /* Adjust font size */
    }
}


/* ====== End of 1.5. About us section ====== */

/* ====== 1.6. gallary section ====== */

.portfolio-1 {
    background: #150725;
    padding: 120px 0 120px 0;
    margin-top: -1px;
}


.portfo-center {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.portfo-center .w-50 {
    width: 66.66666667%;
}


.portfolio-1 h5 {
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.portfolio-1 h2 {
    color: #ffffff;
}

.portfolio-1 p {
    color: #d3c9c1;
    padding-right: 145px;
    margin-top: 1rem;
}

.portfolio-1 .gallary-hr1 {
    opacity: 1.25;
    height: 1px;
    color: #440b3d;
    width: 60px;
    border: 1px solid;
}

.portfo-center hr {
    width: 100%;
    opacity: 1.25;
    height: 1px;
    color: #120224;
    border: 1px solid;
}


.portfolio-1 .btn_hover2 {
    padding: 15px 30px;
    border: 1px solid #ff7527;
}

.portfo-center .w-100 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

/* gallary */
.gallary {
    background-image: url("../img/bg/gallery_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 120px;
    position: relative;
    z-index: 1;
}

.bigger-heading {
    font-size: 70px; /* Adjust the font size as needed */
    font-weight: bold; /* Optionally adjust font weight */
}

.gallary img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.gallary img[alt="sm_img"] {
    height: 200px;
}

.ga-bg {
    background-color: #150725;
    height: 300px;
}

.gallary span {
    background-color: #150725;
    opacity: 0.8;
    width: 100% !important;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.gallary .container {
    margin-top: -390px;
    z-index: 1;
    position: relative;
}

.tab {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.mb-15 {
    margin-bottom: 1.5rem !important;
}

.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    background-color: inherit;
    color: #ffffff;
    border-radius: 10px;
}

.tab button.active {
    background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
}

.gallary-hr h6 {
    letter-spacing: 3.72px;
    text-transform: uppercase;
    color: #ffffff;
}

.gallary-hr hr {
    opacity: 1;
    color: #ffffff;
    height: 2px;
    width: 60px;
}


.tabcontent {
    display: none;
    /*  display block for all data in html*/
    padding: 6px 12px;
}

.tabcontent .w-100 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.w-33 {
    width: 33.33333333%;
}

.w-66 {
    width: 66.66666667%;
}


/* ====== End of 1.6. gallary section ====== */

/* ====== 1.7. Services section ====== */

.service-1 {
    background-image: url("../img/bg/services_bg.jpg");
    padding: 120px 0;
}


.service-data {
    display: flex;
    flex-wrap: wrap;
}

.service-1 h5 {
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.service-1 h2 {
    color: #ffffff;
}

.service-1 .col-lg-8 p {
    padding: 0 221px 0 0;
}

.service-1 p {
    color: #d3c9c1;
    position: relative;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
}

.service-1 .service-hr1 {
    opacity: 1.25;
    height: 1px;
    color: #46083e;
    width: 60px;
    border: 1px solid;
}

.service-1 hr {
    width: 100%;
    opacity: 1.25;
    height: 1px;
    color: #46083e;
    border: 1px solid;
}

.service-1 .btn_hover2 {
    padding: 15px 30px;
    border: 1px solid #ff7527;
}

.service-card {
    background: linear-gradient(11deg, #0d011b 0.01%, #31072c 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 5px 40px 50px 40px;
    width: 100%;
    flex-direction: column;
    align-items: center; /* Center horizontally */
}

.service-card:hover {
    transform: scale(1.05) !important;
    transition: all 0.4s ease !important;
}

.service-card a {
    color: #d3c9c1;
    display: flex;
    align-items: center;
    gap: 5px;
}

.service-card a:hover {
    font-weight: 700;
    color: #ffffff;
    gap: 8px;
}

.service-card h3 {
    margin: 20px 0;
    color: #ffffff;
    letter-spacing: 1.25px;
    margin-bottom: -30px;
    text-align: center;
    font-size: 40px;
}

.service-card img {
    object-fit: cover;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.service-card figure {
    background: #ffffff;
    box-shadow: 10px 17px 28px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 12px;
    width: 124px;
    height: 85px;
    margin-bottom: -40px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Adjustments for specific slider images */
.service-card img[alt="slider1"] {
    width: 105px;
}


.service-card h3 {
    font-size: 30px;
}
.service-card img[alt="slider2"] {
    width: 75px;
}

.service-card img[alt="slider3"] {
    width: 60px;
}

.service-card img img{
    align-items: center;
    align-self: center;
    align-content: center;
}




/* ====== End of 1.7. Services section ====== */

/* ====== 1.8. Experience section ====== */

.experience {
    background: linear-gradient(to bottom, #0b0116, #31072c);
    background-size: cover;
    background-position: center center;
    padding: 120px 0;
    position: relative;
    margin-top: -1px;
}

.experience::before {
    position: absolute;
    content: "";
    top: 26rem;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 30%;
    height: 39%;
    left: 32%;
}

.experience h5 {
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.experience h2 {
    color: #ffffff;
}

.experience p {
    color: #d3c9c1;
}

.experience .col-lg-8 p {
    padding: 0 221px 0 0;
}

.experience .experience-hr1 {
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
    border: 1px solid;
}

.experience hr {
    width: 100%;
    opacity: 1.25;
    height: 1px;
    color: #461f72;
    border: 1px solid;
    margin: 35px 0;
}

.experience .btn_hover1 {
    padding: 15px 40px;
}

.experience .btn_hover2 {
    padding: 15px 30px;
    border: 1px solid #ff7527;
}

.experience .col-lg-6 {
    z-index: 1;
}

.experience_mask figure {
    width: 100%;
    clip-path: circle(47% at 50% 50%);
    padding: 6px;
    background-color: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
    transition: all 0.8s ease;
}

.experience_mask figure:hover {
    transform: scale(1.05);
    transition: all 0.8s ease;
}

.experience_mask img {
    width: 100%;
    clip-path: circle(47% at 50% 50%);
}

.experience-hr {
    color: #ffffff;
    position: absolute;
    bottom: -220px;
    left: -45px;
    bottom: 25px;
    rotate: -90deg;
}

.experience-hr h6 {
    letter-spacing: 3.72px;
    text-transform: uppercase;
}

.experience-hr hr {
    opacity: 1.25;
    height: 1px;
    color: #ffffffbf;
    width: 60px;
    border: 1px solid;
    margin: 0;
}


.ex-card {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 23px 30px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 20px 20px 20px;
    z-index: 1;
}

.ex-card:hover {
    background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
    transform: scale(1.05) !important;
    transition: all 0.4s ease !important;
}

.ex-card:hover h4 {
    color: #ffffff;
}

.ex-card:hover p {
    color: #ffffff;
}

.ex-card .flex {
    border-radius: 50%;
    background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
    color: #ffffff;
    width: 115px;
    padding: 29px 0px;
}

.ex-card:hover.ex-card .flex {
    background: #ffffff;
}

.ex-card:hover.ex-card h3 {
    color: #7436bb !important;
}

.ex-card div:last-child {
    width: 100%;
}

.ex-card h4 {
    color: #3c032d;
}

.ex-card p {
    color: #767676;
    margin-top: 10px;
}



/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .experience {
        padding: 80px 0;
    }
    
    .experience::before {
        top: auto;
        bottom: 0;
        width: 60%;
        height: 59%;
        left: 50%;
    }

    .experience_mask {
        left: 80%; /* Center horizontally */
        transform: translateX(50%); /* Center horizontally */
        top: 0; /* Adjust position from top */
        width: 0px; /* Adjust size */
        height: 0px; /* Adjust size */
        padding: 0px; 
        position: absolute;
        margin-top: -67px; /* Adjust as needed */
    }

    .ex-card {
        left: -45%; /* Center horizontally */
        margin-top: 0px; /* Adjust as needed */
        position: relative;
        top: 50%;
    }
}

/* ====== End of 1.8. Experience section ====== */

/* ====== 1.9. How we work section ====== */

.work {
    background-color: #060606;
    background-size: cover;
    background-position: center center;
    padding: 120px 0;
    margin-top: -10px;
}

.work h5 {
    letter-spacing: 1px;
}

.work-para {
    color: #ffffff;
    padding: 0 290px;
}

.work-line {
    background-image: url("../img/bg/work-line.png");
    background-size: 100% 100%;
    background-position: center;
    min-height: 242px;
    background-repeat: no-repeat;
    margin: 146px 25px 146px 25px;
}

.work-line div {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(11deg, #1c0536 0.01%, #3b0435 100%);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 18px 0 32px 34px;
}

.work-line div:first-child {
    top: -66px;
    left: -30px;
    width: 196px;
    min-height: 196px;
}

.work-line div:nth-child(2) {
    bottom: -70px;
    left: 260px;
    width: 180px;
    min-height: 180px;
}

.work-line div:nth-child(3) {
    right: 260px;
    top: -66px;
    width: 196px;
    min-height: 196px;
}

.work-line div:last-child {
    right: -49px;
    bottom: -70px;
    width: 180px;
    min-height: 180px;
}

.work a {
    border: 1.5px solid #5b0763;
}

.work-hr {
    color: #ffffff;
    position: absolute;
    right: 0;
    rotate: -90deg;
}

.work-hr h6 {
    letter-spacing: 3.72px;
    text-transform: uppercase;
}

.work-hr hr {
    opacity: 1.25;
    height: 1px;
    color: #ffffffbf;
    width: 60px;
    border: 1px solid;
}

.work .btn_hover2 {
    padding: 15px 30px;
}

/* ====== End of 1.9. Testimonials section ====== */


/* ====== 1.10. team section ====== */

.team {
    background: linear-gradient(0deg, #471133 0%, #140921 100%);
    /* background: linear-gradient(180deg, #7436bb66 28%, #b520a378 68%); */
    /* background-image: url("../img/bg/experience_bg.jpg"); */
    background-size: cover;
    background-position: center center;
    padding: 120px 0 0 0;
}

#team {
    background: linear-gradient(180deg, #7436bb66 28%, #b520a378 68%);
    /* background-image: url("../img/bg/experience_bg.jpg"); */
    background-size: cover;
    background-position: center center;
    padding: 120px 0 120px 0;
}

.team h5 {
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.team h2 {
    color: #ffffff;
    padding: 0 212px 0 0;
}

.team p {
    color: #d3c9c1;
    padding: 0 184px 0 0;
}

.team .team-hr1 {
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
    border: 1px solid;
}

.team a {
    padding: 15px 30px;
    border: 1.5px solid #ff8c4b;
}

.team-slider {
    overflow: hidden;
    display: flex;
}

.team-img {
    min-width: 304px;
    object-fit: cover;
    position: relative;
    background-repeat: no-repeat;
    /* height: 500px; */
}

.team-img img {
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    height: 500px; 
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #7436bb66 28%, #b520a378 68%);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
}

.team-img:hover .overlay {
    height: 100%;
}

.overlay_text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
}

.overlay_text h4 {
    margin: 6px 0 15px 0;
}

.overlay_text i {
    color: #ffffff;
    font-size: 20px;
}

.overlay_text a {
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.overlay_text a:hover {
    background-color: #ffffff;
}

.overlay_text a:hover i {
    color: #150725;
}

.overlay_text .flex a:first-child {
    padding: 8px 13px !important;
}

.overlay_text .flex a:nth-child(2) {
    padding: 9px 12px !important;
}

.overlay_text .flex a:last-child {
    padding: 8px 10px !important;
}


/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
    .team {
        padding-top: 80px; /* Adjust top padding for smaller screens */
    }

    #team {
        padding-bottom: 80px; /* Adjust bottom padding for smaller screens */
    }

    .team-slider {
        padding: 0 20px; /* Adjust padding for smaller screens */
    }

    .team-img {
        min-width: 40%;
        object-fit: contain; /* Resize the image to fit within the container */
    }

    .overlay_text {
        width: 90%; /* Adjust width for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .team h2,
    .team p {
        padding: 0 10px; /* Further reduce padding for smaller screens */
    }

    .team-btn {
        padding: 20px; /* Adjust padding for smaller screens */
    }
}


/* ====== End of 1.10. team section ====== */


/* ====== 1.11. Pricing section ====== */

.pricing {
    padding: 120px 0;
    background-image: url("../img/bg/pricing_bg.jpg");
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    z-index: 1;
}

#pricing {
    background: #150725;
    padding: 120px 0;
}

.pricing span {
    background-color: #150725;
    opacity: 0.9;
    width: 100% !important;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.pricing-hr {
    color: #ffffff;
    position: absolute;
    right: 0;
    rotate: -90deg;
}

.pricing-hr h6 {
    letter-spacing: 3.72px;
    text-transform: uppercase;
}

.pricing-hr hr {
    opacity: 1.25;
    height: 1px;
    color: #ffffffbf;
    width: 60px;
    border: 1px solid;
}

.pricing p {
    padding: 0 30px;
}

.pricing-card div {
    background: #3d0f41;
    color: #ffffff;
    padding: 70px;
    transition: all 0.4s ease;
    width: 100%;
}

.pricing-card div:hover {
    transform: scale(1.07) !important;
    transition: all 0.4s ease !important;
    z-index: 3;
}

.pricing-card div:nth-child(2) {
    transform: scale(1.09);
    z-index: 2;
    background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
}

.pricing-card div:nth-child(2):hover {
    transform: scale(1.05);
    z-index: 2;
}

.pricing-card h3 {
    color: #ffffff;
    font-family: 'Horizon', sans-serif;
}

.pricing-card h2 {
    margin-bottom: 30px;
}

.pricing-card div:nth-child(2) a {
    background-color: #ffffff;
    color: #b520a3;
}

.pricing-card div:nth-child(2) a:hover {
    color: #ffffff;
}

.pricing-card a {
    padding: 15px 30px;
    margin-top: 20px;
}

/* ====== End of 1.11. Pricing section ====== */


/* ====== 1.12. FAQ section ====== */

.faq {
    background-image: url("../img/bg/faq_bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 120px 0;
    z-index: 1;
}

#faq {
    background: #150725;
    padding: 120px 0;
}

.faq span {
    background-color: #000000;
    opacity: 0.6;
    width: 100% !important;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.faq .text-center h2 {
    color: #ffffff;
    padding: 0 55px 0 0;
    text-align: left;
}

.faq h5 {
    color: #ffffff;
}

.faq .text-center p {
    color: #ffffff;
    padding: 0 123px 0 0;
    text-align: left;
}

.faq .faq-hr1 {
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
    border: 1px solid;
}

.accordion-button {
    position: relative;
    width: 100%;
    text-align: left;
    outline: none;
    border: none;
    color: #231f20;
    font-weight: 700 !important;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.accordion-button img {
    transition: transform 0.3s ease-in-out;
}

.accordion-collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion-collapse p {
    color: #767676;
    padding: 15px;
    background-color: #fff;
}


/* Media query for smaller screens (up to 768px) */
@media (max-width: 768px) {
    .faq {
        padding: 60px 0; /* Further adjusted padding for smaller screens */
    }

    #faq {
        padding: 60px 0; /* Further adjusted padding for smaller screens */
    }
}

/* ====== End of 1.12. FAQ section ====== */

/* ====== 1.13. Blogs section ====== */

.blog {
    background: #150725;
    padding: 120px 0;
}

.blog h5 {
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.blog h2 {
    color: #ffffff;
}

.blog p {
    color: #d3c9c1;
    padding: 0 296px 0 0;
}

.blog .blog-hr1 {
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
    border: 1px solid;
}

.blog .btn_hover2 {
    padding: 15px 30px;
    border: 1.5px solid #ff8c4b;
}

.blog .row a {
    border: 1.5px solid #ff8c4b;
}

.blog-card {
    flex: 0 0 33.33%;
    overflow: hidden;
    padding-bottom: 20px;
}

.blog-card img {
    width: 100%;
    transition: all 0.4s ease;
}

.blog-card:hover img {
    transform: scale(1.05);
    opacity: .8;
    transition: all 0.4s ease;
}

.blog-card h4 {
    color: #d3c9c1;
    margin: 18px 0;
    padding: 0 30px 0 0;
}

.blog-card a {
    padding: 0 0 11px 0 !important;
    border-bottom: 2px solid #ff8c4b;
    letter-spacing: 2px;
    background: linear-gradient(66.75deg, #f54a48 0.87%, #fa982f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ====== 1.13. Blogs section ====== */

.blog p {
    color: #d3c9c1;
}

@media screen and (max-width: 1000px) {
    .blog p {
        padding: 0 20px;
        text-align: center;
    }
}





/* ====== End of 1.13. Blogs section ====== */

/* ====== 1.14. Footer section ====== */

footer {
    background: #150725;
    padding: 120px 0 0 0;
}

.footer-hr .flex {
    rotate: -90deg;
}

.footer-hr h6 {
    color: #ffffff;
    letter-spacing: 3.72px;
    text-transform: uppercase;
}

.footer-hr h3 {
    margin-top: 115px;
    color: #ffffff;
    letter-spacing: 1px;
    margin-bottom: -20px;
}

.footer-hr p {
    color: #ffffff;
    padding: 0 0px;
    margin: -10px 0 30px 0;
}

.footer-hr hr {
    opacity: 1.25;
    height: 1px;
    color: #ffffffbf;
    width: 60px;
    border: 1px solid;
}

footer form {
    border-radius: 50px;
    border: 1px solid #6d2f8a;
    background: #381a46;
    width: 76%;
    margin: auto;
}

footer form input {
    border-radius: 50px;
    background: #381a46;
    border: none;
    outline: none;
    padding: 10px 20px;
    color: #ffffff;
    width: 68%;
}

footer form button {
    transition: all 0.3s ease;
    text-transform: uppercase;
}

footer form button:hover {
    color: #7436bb;
}

#footer-message {
    background: #fff;
    color: green;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    padding: 10px 10px 10px 10px;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
    border-radius: 10px;
    display: none;
    transition: display all 0.3s ease;
}

.footer-menu {
    background: linear-gradient(0deg, #471133 0%, #140921 100%);
    color: #ffffff;
    padding: 50px 0;
    margin-top: 77px;
}

.footer-menu img {
    width: 100px;
    filter: brightness(0) invert(1);
}

.footer-menu ul li a:hover {
    color: #f54a48;
    /* text-transform: lowercase; */
}

.footer-menu i {
    font-size: 20px;
    background: linear-gradient(0deg, #d248f5 0.5%, #4d0550 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 10px;
}

.footer-menu i:hover {
    background: linear-gradient(0deg, #d248f5 0.5%, #4d0550 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-menu h4 {
    color: #d10ec1;
    margin-bottom: 26px;
}

.footer-menu a {
    color: #ffffff;
    padding: 0 !important;
}

.footer-menu .col-lg-4 li {
    display: flex;
    gap: 20px;
}

.footer-menu p {
    padding: 0 78px 0 0;
}

.text-lowercase{
    text-transform: lowercase;

}

.copyright {
    background: #150725;
    color: #ffffff;
    padding: 20px 0;
}

.copyright a {
    color: #ffffff;
}





/* button back to top */

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    padding: 17px 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
    color: #d12bec;
    cursor: pointer;
    z-index: 999999999999;
}

#backToTopBtn:hover {
    color: #ffffff;
}

/* scrollbar full website */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
    border-radius: 5px;
}


/* LOG OUT BUTTON */
#_logout {
    width: 100%;
}

.logoutSide {
    margin-top: 5%;
    margin-bottom: 15px;
    background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
    padding: 8px 12px 10px 12px;
    border-radius: 32px;
    border: 1.5px solid #b520a3;
    cursor: pointer;
    width: 100px;
    height: 40px;
    color: #d3c9c1;
}

.logoutSide:hover {
    display: inline-block;
    border-radius: 32px;
    border: 1.5px solid #d12bec;
    z-index: 1;
    letter-spacing: 0.8px;
    background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
    cursor: pointer;
    width: 100px;
    color: #ffffff;
}

.logout-Btn {
    margin-top: 55%;
    background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
    padding: 8px 12px 10px 12px;
    border-radius: 32px;
    border: 1.5px solid #b520a3;
    cursor: pointer;
    width: 100px;
    height: 40px;
    color: #d3c9c1;
}

.logout-Btn:hover {
    display: inline-block;
    border-radius: 8px;
    border: 1.5px solid #d12bec;
    z-index: 1;
    letter-spacing: 0.8px;
    background: linear-gradient(180deg, #ff0000 0%, #ff0000 100%);
    cursor: pointer;
    width: 100px;
    color: #ffffff;
}

/* LOG IN BUTTON */
#_login {
    background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
    padding: 8px 12px 10px 12px;
    margin-bottom: -15px;
    border-radius: 32px;
    border: 1.5px solid #b520a3;
    cursor: pointer;
    width: 100px;
    height: 40px;
    color: #d3c9c1;
}

.login-Btn {
    font-weight: 400;
    color: inherit;
    background: none;
    padding: 0;
    margin: 0; 
    border: none; 
    cursor: auto; 
    width: auto; 
    height: auto;color: #d3c9c1;
}

#_login:hover {
    display: inline-block;
    border-radius: 32px;
    border: 1.5px solid #d12bec;
    z-index: 1;
    letter-spacing: 0.8px;
    background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
    cursor: pointer;
    width: 100px;
    color: #ffffff;
}

